*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: Oswald;
    src: url(images/Oswald-VariableFont_wght.ttf);
}
body{
    display: grid;
    grid-template-columns: 1fr min-content 48px 1fr;
    grid-template-rows: auto auto auto 64px auto;
    width: 100%;
    padding: 0;
    margin: 0;
    height: min-content;
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size:cover;
}
input{
    border: none;
}
.fa-magnifying-glass:hover{
    color: orange;
    cursor: pointer;
}
#input-glass{
    grid-area: 1/2/1/2;
    padding: 8px;
    display: flex;
    flex-direction: row;
    width: min-content;
    border-radius: 2px;
    border: 1px solid rgb(210, 210, 210);
    transition: outline 600ms;
    outline: none;
    margin: 16px 0 16px 0;
}
input:focus{
    border: none;
    outline: none;
}
#input-glass:focus-within{
    outline: 4px solid black;
    transition: outline 600ms;
}

label{
    grid-area: 1/3/1/3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: font-size 300ms;
}
label:hover, label:focus~.fa-bars{
    font-size: 32px;
    color: orange;
}
.hamburger-menu{
    overflow: hidden;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: 2/1/2/-1;
    transition: max-height 2000ms ease-in;

}


#hamburger-check:checked~.hamburger-menu{
    max-height: 400px;
    transition: max-height 3000ms ease-out;
}
.hamburger-menu-element{
    padding: 8px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(210, 210, 210);
}
.hamburger-menu-element:hover{
    background-color:rgb(210, 210, 210);
}
/*line jumping under*/
.hamburger-menu-element>p{
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    margin: 0px;
    width: fit-content;
    align-self: center;
    justify-self: center;
}
.hamburger-menu-element>p::after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(0, 100%, 0);
    opacity: 1;
    transition: transform 0.6s ease;
}
.hamburger-menu-element:hover>p::after{
    bottom: 0;
    background-color: orange;
    transform: translate3d(0, 0, 0);
}

.header-line{
    background-color: white;
    border: 2px solid rgb(210, 210, 210);
    grid-area: 1/1/3/-1;
    overflow: hidden;
}

.background{
    grid-area: 1/1/-1/-1;
    background-image: url("images/background.png");
    background-color: yellow;
    overflow: hidden;
    height: min-content;
}
.description{
    max-width: 500px;
}
.description>h1{
    font-family: Oswald;
    font-stretch: ultra-condensed;
    font-size: 59px;
    font-weight: 400;
    color: black;
}
.description>p{
    color: rgba(0, 0, 0, 0.582);
}
.main{
    grid-area: 3/2/4/3;
}
.tiles{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
.tile{
    background-color: white;
    width: min-content;
    padding: 25px;
    text-decoration: none;
    transition: border 300ms;
}
.tile:hover{
    border: 12px solid orange;
}
.tile:hover .tile-image{
    transition: max-width 300ms;
    max-width: 176px;
}
.tile-image{
    max-width: 200px;
    min-width: 152px;
    width: min-content;
}
.tile-name{
    font-family: fantasy;
    font-size:x-large;
    font-weight: 100;
    color: rgb(238, 199, 34);
}
.tile-text{
    text-align: left;
    color: black;
}
footer{
    grid-area: -1/1/-1/-1;
    background-color: rgb(27, 27, 27);
}
.footer-inside{
    grid-area: -1/2/-1/-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px 0;
}
.logo{
    width: 100px;
    background-color: rgba(160, 160, 160, 0);
    transition: background-color 300ms background-size 600ms;
    background-size: cover;
    transition: background-color 1s ease;
}
.logo:hover{
    background-color: rgba(160, 160, 160, 0.274);
    background-size: 0;
}
.logo>img{
    width: 100%;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 24px;
}
.footer-menu>a{
    color: rgb(121, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
}
/*underline*/
.footer-menu>a{
    display: block;
    position: relative;
    ;
}
.footer-menu>a::after {
    content: '';
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}
.footer-menu>a:hover,
.footer-menu>a:focus{
    overflow: hidden;
    color: white;
    opacity: 1;
    translate: (0, 1, 0);
}
.footer-menu>a:hover::after,
.footer-menu>a:focus::after{
    transform: translate3d(0,2px,0);
    background-color: white;
}

/*.footer-menu>a:hover{
    color: white;
    text-decoration:underline;
    text-underline-offset: 2px;\
}
    */
    @media only screen and (max-width:850px){
        .footer-menu{
            width: 80vw;
            flex-wrap: wrap;
            justify-content: center;
        }
        .tiles{
            width: fit-content;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
        }
        
    }
    @media only screen and (max-width:600px) {
        .footer-menu{
            display: none;
        }
        .footer-inside{
            justify-content: center;
        }
        .tiles{
            flex-direction: column;
        }
    }

