body{
    display: grid;
    grid-template-columns: 1fr min-content 20px 1fr;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    padding: 0;
    margin: 0;
    height: min-content;
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size:cover;
}
input{
    border: none;
}
#input-glass{
    padding: 8px;
    display: flex;
    flex-direction: row;
    width: min-content;
    border-radius: 2px;
    border: 1px solid rgb(210, 210, 210);
}
input:focus{
    border: none;
    outline: none;
}
#input-glass:focus-within{
    outline: 2px solid black;
}
label{
    cursor: pointer;
}
.hamburger-menu{
    display: none;
}
.header-line{
    background-color: white;
    border: 2px solid rgb(210, 210, 210);
    grid-area: 1/1/3/5;
}
.header-inside{
    grid-area: 1/2/2/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.background{
    grid-area: 3/1/3/5;
    background-image: url("images/background.webp");
    background-color: yellow;
    overflow: hidden;
    height: min-content;
}
.description>h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    font-size: 59px;
}
.main{
    grid-area: 3/2/4/3;
}
.tiles{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}
.tile{
    background-color: white;
    width: min-content;
    padding: 25px;
}
.tile-image{
    width: 200px;
}
.tile-name{
    font-family: fantasy;
    font-size:x-large;
    font-weight: 100;
    color: rgb(238, 199, 34);
}
.tile-text{
    text-align: left;
}
footer{
    grid-area: 4/1/4/4;
}